@font-face {
    font-family: iransans;
    src: url(../font/IRANSansWeb.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: iransans;
}

a {
    text-decoration: none;
}

.tj {
    text-align: justify;
}

.t-y {
    color: #ffbf1d;
}

.bgc-y {
    background-color: #ffbf1d;
}

.t-b {
    color: #2a2e43;
}

.bgc-b {
    background-color: #2a2e43;
}

.f-w {
    font-weight: bolder;
}

.bor {
    border-radius: 16px;
}

.bor2 {
    border-radius: 75px;
}

.box {
    box-shadow: 0 4px 10px 0 rgba(255, 191, 29, 0.25);
}

.bg-pic {
    background-image: url(https://picsum.photos/1920/733);
    height: 733px;
    margin-bottom: 100px;
}

.bg-pic2 {
    background-image: url(https://picsum.photos/1920/900);
    height: 900px;
}

.bg-pic3 {
    background-image: url(../images/mohit\ zist.png);
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-b {
    background-color: rgba(0, 0, 0, 0.65);
    height: 900px;
}

.bg-y {
    background-color: #ffbf1d;
    /* height: 850px; */
    width: 100vw;
}

.fs1 {
    font-size: 72px;
}

.fs2 {
    font-size: 100px;
}

.fs3 {
    font-size: 16px;
    font-weight: bold;
    color: #353a50;
}

.fs4 {
    font-size: 12px;
    font-weight: normal;
    color: #353a50;
    opacity: 0.5;
}

.fs5 {
    font-size: 12px;
    font-weight: bold;
    color: #353a50;
}

.fs6 {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}

.wi {
    width: 100%;
}

.hg {
    min-height: 1000px;
}

.hg2 {
    height: 400px;
}

.hg3 {
    height: 500px;
}

.hg4 {
    height: 700px;
}

.hg5 {
    height: 87px;
}

.rect {
    border-radius: 12px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.rect2 {
    color: #2a2e43;
    border-radius: 8px;
    background-color: rgba(42, 46, 67, 0.05);
}

.rects {
    border-radius: 8px;
    background-color: #48cfad;
}

.rectd {
    border-radius: 8px;
    background-color: #5D9CEC;
}

.rectf {
    border-radius: 8px;
    background-color: #ED5565;
}

.recti {
    border-radius: 8px;
    background-color: #F6A742;
}

.dot1 {
    width: 8px;
    height: 8px;
    border-radius: 3px;
    background-color: #2a2e43;
}

.dot2 {
    width: 8px;
    height: 8px;
    border-radius: 3px;
    border: solid 1px #2a2e43;
}

.owl-dots {
    display: none;
}

button {
    width: 280px;
    height: 48px;
}



.accordion-button:focus {
    box-shadow: none;
}

.accordion-button::after, .accordion-button:not(.collapsed)::after {
    background-image: none;
}

.anim {
    animation-name: anim;
    animation-duration: 1s;
    animation-iteration-count: 20;
}

@keyframes anim {
    0% {
        fill: #2a2e43;
        fill-opacity: 0.05;
    }
    
    50% {
        fill: orange;
        fill-opacity: 1;
    }

    50% {
        fill: #2a2e43;
        fill-opacity: 0.05
    }

    50% {
        fill: orange;
        fill-opacity: 1;
    }
}









@media (min-width: 1200px) {
    .map {
        margin: -100px auto;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .map {
        margin: -100px auto;
    }

    .hg3 {
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .hg3 {
        height: auto;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .hg3 {
        height: auto;
    }
}

@media (max-width: 575.98px) {
    .bg-pic {
        background: #ffffff;
        height: auto;
    }

    .fs1 {
        font-size: 36px;
    }

    .bor2 {
        border-radius: 25px;
    }

    .hg {
        min-height: 500px;
    }

    .hg5 {
        height: 75px;
    }

    .bg-pic3 {
        background-image: url(../images/aerialshot@3x.png);
        height: 640px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1rem;
    }

    h5 {
        font-size: 1rem;
    }

    .fs-12 {
        font-size: 12px;
    }

    .fs-14 {
        font-size: 14px;
    }

    .wi {
        width: 300px;
        margin: 0 auto;
    }

    .pat {
        display: none;
    }

    .hg3 {
        height: auto;
    }
}